html {
	background-color: #E0DBD1;
	color: #35230F;
	}

html {
	font: 1.2rem "Consolas", sans-serif;
	}	
	a:special {
		color: #35230F;
	}
	a:link {
		color: #35230F;
	}
	a:visited {
		color: #1a450a;
	}

	nav {
	font-size: 20px;
	}

.styled {
  	border: 1;
	border-color: #35230F;
  	line-height: 2.75;
 	 padding: 0 20px;
  	font-size: 1.2rem;
  	text-align: center;
  	color:#35230F;
 	 border-radius: 50px;
  	background-color: #E0DBD1;
}

.styled:hover {
  	color: #E0DBD1; 
 	 background-color: #1a450a;
}

.styled:active {
  	color: #35230F; 
 	 background-color: #E0DBD1;
}

